@use "@/styles/variables" as app-variables;

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

a {
  color: app-variables.$app-font-color;

  &:hover {
    color: app-variables.$primary-color;
  }
}

/* Modals style */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Card */
.card {
  background: app-variables.$color-light;
  border-radius: 4px;
  box-shadow: app-variables.$box-shadow;
  padding: 1rem;
  width: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Section */
.section {
  margin-top: 0.5rem;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Select style */
.select {
  color: app-variables.$app-font-color;
  font-family: app-variables.$app-font;
  font-size: 0.9rem;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid app-variables.$secondary-color;
  padding: 0;
}

/* OTHERS */
.version {
  font-size: 0.6rem;
}
