.variable-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  &__title {
    padding: 0.2rem 0.2rem 0.1rem 0.2rem;
    font-weight: bold;
  }

  &__value {
    padding: 0.1rem 0.2rem 0.2rem 0.2rem;
    font-size: 120%;
  }
}
