/* Resolution Breakpoints Calculated with a font-size of 16 ( Standard ) */
$breakpoint-min-mobile: 20rem;
$breakpoint-mobile-to-tablet: 48rem;
$breakpoint-tablet-to-desktop: 64rem;
$breakpoint-desktop-to-medium-resolution: 90rem;
$breakpoint-medium-to-high-resolution: 120rem;

/* Browser width breakpoints in px */
$browser-tablet-width: 1024;
$browser-full-hd-width: 1800;
