/* Colors */
$primary-color: #304b64;
$primary-color-dark: #002f4a;
$primary-color-light: #c8dff3;
$primary-color-transparency: #3259765b;
$secondary-color: #888785;
$color-white: #f9f9f9;
$color-grey: #555555;
$color-light-white: #f4f4f4;
$color-light-grey: lightgray;
$box-shadow-scroll: inset 0 0 6px rgb(0 0 0 / 30%);
