/* Font */
$app-font: "Roboto", "Helvetica", "Arial", sans-serif;
$app-font-size: 100%;
$app-font-secondary-color: #edeef0;
$headers-font-size: 1.5rem;
$subheader-font-size: 1.25rem;
$body-font-size: 1rem;
$app-font-weight-bold: 700;
$app-font-weight-med: 600;

// Accent
$app-font-color-accent: #4e73f8;

// Body
$color-text-solid: #404d61;
$color-text-med: rgb(64 77 97 / 60%);

// Titles
$app-font-color: #001e2f;
$app-body-text: #7c8592;
