/* Leaflet WMS Legend */
.leaflet-control-wms-legend {
  display: block;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  cursor: auto;
  text-align: center;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 140px;
  overflow-y: auto;

  & img {
    padding: 5px;
    max-width: 100%;
    max-height: 55vh;
    display: block; /* remove extra space below image */
  }
}

.leaflet-control-wms-legend::after {
  content: "\e316";
  font-family: "Material Icons", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.leaflet-control-wms-legend:hover {
  cursor: pointer;
}

/* Movil styles, 48rem breakpoint */

@media only screen and (max-width: 1023px) {
  .leaflet-control-wms-legend {
    & img {
      max-height: 50vh;
    }
  }
}
