/* Font */
$app-font: "Monsterrat", "Helvetica", "Arial", sans-serif;
$app-font-size: 100%;
$app-font-color: #333;
$app-font-secondary-color: #ffffff;
$headers-font-size: 1.7rem;
$subheader-font-size: 1.1rem;

/* Layout */
$height-header: 100px;
//$height-footer: 30px;
$width-sidenav: 240px;

/* Resolution Breakpoints Calculated with a font-size of 16 ( Standard ) */
$breakpoint-minMobile: 20rem;
$breakpoint-mobileToTablet: 48rem;
$breakpoint-tabletToDesktop: 64rem;
$breakpoint-desktopToMediumResolution: 90rem;
$breakpoint-mediumToHighResolution: 120rem;

/* Colors */
$primary-color: #325876;
$primary-color-dark: #002f4a;
$primary-color-light: #6185a5;
$primary-color-transparency: #3259765b;

$secondary-color: #755a31;
